@import '_colors.scss';

.answers-summary {
    padding-left: 20px;
	padding-right: 20px;
    .accordion-general {
        margin: 0 !important;
        .accordion-question {
            font-size: 18px !important;
            font-weight: 900 !important;
            margin-bottom: 0 !important;
            text-align: left !important;
        }
        .accordion-answer {
            font-size: 18px !important;
            font-weight: 400 !important;
            margin-bottom: 0 !important;
            text-align: left !important;
        }
    }
}