@import '_colors.scss';

.card {
	width: 100%;
	height: 200px;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.05);
	}
}
.destination-label {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: $background-color_7;
	color: $color_1;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
}
