@import '_colors.scss';

.cover {
    background-color: $background-color_1; 
    background-size: cover; /* Assicura che lo sfondo copra l'intera area */
    background-position: center; /* Centra lo sfondo */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente il contenuto */
    align-items: center; /* Centra orizzontalmente il contenuto */
    height: 100vh; /* Altezza pari all'altezza della viewport */
    text-align: center; /* Centra il testo */
    padding: 20px; /* Spaziatura interna */
    color: white; /* Colore del testo */
    .cover-description {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .start-quiz {
        background-color: $background-color_3;
        color: $color_1;
        border: none;
        border-radius: 8px;
        padding: 12px 24px;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        &:hover {
            background-color: $background-color_4;
            transform: scale(1.05);
        }
    }
}