@import '_colors.scss';

.final-confirmation-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	text-align: center;
	padding-bottom: 100px;
    .final-confirmation-header {
        padding: 10px 0 10px 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: $background-color_1;
        width: 100%;
        .link-button {
            background: none;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
			span {
				color: $color_1;
				font-size: 20px;
			}
		}
	}
	.final-confirmation-content {
		padding: 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h2 {
			font-size: 36px;
			margin-bottom: 0;
			margin-top: 0;
		}
		p {
			font-size: 24px;
			margin-bottom: 20px;
		}
		.button-grid {
			padding-left: 20px;
			padding-right: 20px;
		}
    }
	h2 {
		font-size: 36px;
		margin-bottom: 0;
        margin-top: 0;
	}
	p {
		font-size: 24px;
		margin-bottom: 20px;
	}
    .button-grid {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.congratulations-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	h2 {
		font-size: 36px;
		margin-bottom: 0;
	}
	p {
		font-size: 24px;
		margin-bottom: 20px;
		.destionation-name {
			color: #d80f0f;
			font-weight: bold;
			text-decoration: underline;
		}
	}
    .destination-image {
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }
}