@import '_colors.scss';

.quiz-container {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	width: 100%;
	margin: 20px 0;
}
.question {
	font-size: 1.5em;
	margin-bottom: 20px;
}
.options {
	button {
		background-color: $background-color_1;
		color: $color_1;
		padding: 10px 20px;
		margin: 10px 0;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 1em;
		width: 100%;
		&:hover {
			background-color: $background-color_2;
		}
	}
}
