@import '_colors.scss';

.hint-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border: $background-color_7;
    border-radius: 4px;
    border: 2px solid $background-color_7;
    margin-top: 20px;
    padding: 10px;
    h3 {
        margin-top: 0;
    }
    .hint-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .MuiSvgIcon-root {
            margin-right: 10px;
        }
        .hint-text {
            font-size: 24px;
            margin: 0;
        }
    }
}