@import '_colors.scss';

.quiz-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px;
	box-sizing: border-box;
}
.question-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 600px;
}
.question-text {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}
.options-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.option-button {
	background-color: $background-color_1;
	color: $color_1;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	margin: 10px 0;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	&:hover {
		background-color: $background-color_2;
	}
}
.restart-button-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 20px 0 50px 0;
}
.restart-button {
	background-color: $background-color_3;
	color: $color_1;
	border: none;
	border-radius: 8px;
	padding: 12px 24px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
	transition: background-color 0.3s ease, transform 0.2s ease;
	&:hover {
		background-color: $background-color_4;
		transform: scale(1.05);
	}
}
.confirmation-button {
	background-color: $background-color_5;
	color: $color_1;
	border: none;
	border-radius: 8px;
	padding: 12px 24px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
	transition: background-color 0.3s ease, transform 0.2s ease;
	&:hover {
		background-color: $background-color_6;
		transform: scale(1.05);
	}
}
.main-container {
	padding: 20px 20px 0 20px;
}

.travel-card-container {
	width: 350px !important;
	.card {
		height: 350px !important;
	}
}
@media (max-width: 600px) {
	.question-text {
		font-size: 20px;
	}
	.option-button {
		font-size: 16px;
		padding: 8px 16px;
		&:hover {
			background-color: $background-color_1;
		}
	}
	.restart-button {
		font-size: 16px;
		padding: 10px 20px;
	}
}
